<div class="m-auto w-full max-w-xs mt-4">
  <h2 class="block text-black-700 text-lg font-bold text-center">Create Event</h2>

  <%= form_for(@event, :html => {class: "bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4", role: "form"},) do |f| %>
    <div class="mb-8">
      <%= f.label :name, class: "block text-gray-700 text-sm font-bold mb-2" %><br />
      <%= f.text_field :name, autofocus: true, placeholder: "Enter Event Name", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="mb-8">
      <%= f.label :location, class: "block text-gray-700 text-sm font-bold mb-2" %><br />
      <%= f.text_field :location, placeholder: "Location Name", class: "shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="mb-8">
      <%= f.label :hub_id, class: "block text-gray-700 text-sm font-bold mb-2" %><br />
      <%= f.number_field :hub_id, placeholder: "Hub ID", class: "shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="mb-8">
      <%= f.label :date, class: "block text-gray-700 text-sm font-bold mb-2" %><br />
      <%= f.date_select :date, class: "shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="flex items-center justify-between">
      <%= f.submit "Create Event", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    </div>
  <% end %>
</div>
