<%= form_for(@expense, :html => {class: "bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4", role: "form"},) do |f| %>
  <div class="mb-8">
    <%= f.label :name, class: "block text-gray-700 text-sm font-bold mb-2" %><br />
    <%= f.text_field :name, autofocus: true, placeholder: "Enter Expense Name", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-8">
    <%= f.label :description, class: "block text-gray-700 text-sm font-bold mb-2" %><br />
    <%= f.text_area :description, autofocus: true, placeholder: "Enter Expense Description", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-8">
    <%= f.label :user_id, class: "block text-gray-700 text-sm font-bold mb-2" %><br />
    <%= f.collection_select :user_id, User.all, :id, :email, class: "shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-8">
    <%= f.label :event_id, class: "block text-gray-700 text-sm font-bold mb-2" %><br />
    <%= f.collection_select :event_id, Event.all, :id, :name, class: "shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-8">
    <%= f.label :amount, class: "block text-gray-700 text-sm font-bold mb-2" %><br />
    <%=
      f.number_field :amount,
                     step: 0.01,
                     placeholder: 'Amount of the expense',
                     class:
                       'shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline'
    %>
  </div>

  <div class="flex items-center justify-between">
    <%= f.submit "Create Expense", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  </div>
<% end %>
